################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore build outputs
bin/
obj/

# Ignore publish output
publish/
out/

# Ignore Docker files
docker-compose.override.yml
.docker/

# Ignore Visual Studio files
.vs/
/Backend/Catalog/Wearemm.Catalog/*.user
*.user
